In [1]:
import pandas as pd

# Create a simple DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Taipei', 'Taichung', 'Kaohsiung']
})

print(df)

      Name  Age       City
0    Alice   25     Taipei
1      Bob   30   Taichung
2  Charlie   35  Kaohsiung